<app-service-list></app-service-list>
<!-- <div class="row">
  <div class="col-md-4 col-sm-6 wow fadeInUp">
      <div class="service">
          <div class="service-title">
              <h4 class="h4">Food<strong>Order</strong></h4>
          </div>
      </div>
  </div>
  <div class="col-md-4 col-sm-6 wow fadeInUp">
      <div class="service">
          <div class="service-title">
              <h4 class="h4">Leisure<strong>Time</strong></h4>
          </div>
      </div>
  </div>
  <div class="col-md-4 col-sm-6 wow fadeInUp">
      <div class="service">
          <div class="service-title">
              <h4 class="h4"><strong>Entertainment</strong></h4>
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-6 wow fadeInUp">
      <div class="service">
          <div class="service-title">
              <h4 class="h4">Order<strong>Taxi</strong></h4>
          </div>
      </div>
  </div>
  <div class="col-md-4 col-sm-6 wow fadeInUp">
      <div class="service">
          <div class="service-title">
              <h4 class="h4">Wakeup<strong>Call</strong></h4>
          </div>
      </div>
  </div>
  <div class="col-md-4 col-sm-6 wow fadeInUp">
      <div class="service">
          <div class="service-title">
              <h4 class="h4">Rent<strong>Car</strong></h4>
          </div>
      </div>
  </div>
</div> -->
