<div class="row">
  <div class="col-md-4 col-sm-6">
      <div class="action bill">
          <div class="row">
              <div class="col-md-5">
                  <p class="valign">
                      Press <span class="w-bg">Info</span>
                      To Display
                  </p>
              </div>
              <div class="col-md-2">
                  <span class="fa-stack fa-lg fa-2x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-money fa-stack-1x"></i>
                  </span>
              </div>
              <div class="col-md-5">
                  <h4>My<strong>Bill</strong></h4>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-4 col-sm-6">
      <div class="action">
          <div class="row">
              <div class="col-md-5">
                  <p class="valign">
                      Press <span class="w-bg">Menu</span>
                      To Move To
                  </p>
              </div>
              <div class="col-md-7">
                  <h4>Level<strong>Back</strong></h4>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-4 col-sm-6">
      <div class="action">
          <div class="row">
              <div class="col-md-5">
                  <p class="valign">
                      Press <span class="w-bg">Exit</span>
                      To Close
                  </p>
              </div>
              <div class="col-md-7">
                  <h4>The<strong>Menu</strong></h4>
              </div>
          </div>
      </div>
  </div>
</div>
